<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="image_src" href="https://retrohacking.github.io/img/propic.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://retrohacking.github.io/img/favicon.ico" />
    <meta name="twitter:title" content="{{ page.title }} ">
    <meta name="twitter:description" content=" {{ page.excerpt | default: site.description  }}">
    <meta name="twitter:image" content="https://retrohacking.github.io/img/propic.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title"              content="{{ page.title}}" />
    <meta property="og:description"        content="{{ page.excerpt | default: site.description }}" />
    <meta property="og:image" content="https://retrohacking.github.io/img/propic.png" />
    {% include head-custom.html %}
  
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% include navbar.html %}
       
      </div>
    </header>
    
    <style>
      container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;

        }
    </style>

    <div class="container">
      <section id="main_content">
        
        {{ content }}
      </section>
    </div>
    
        
    <style>
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
        font-size: 100%;
        background-color: #151515;
        }
    </style>
    </footer>
    
    <footer>
      
       {{ site.owner | default: site.github.repository_name }} {{site.year | default: "" }}
       
      
    </footer>

  </body>
</html>
